.users-block {
    margin-top: 110px;
}

.users-body {
    width: 99%;
    margin: 0 1%;
}

.pagination-btn {
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 13px;
    display: inline-block;
    color: #FFF;
    position: relative;
    display: inline-block;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    transition: all .4s ease;
    text-transform: uppercase;
    background-color: #41A350;
    border-style: none;
}

.page-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nums {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.page-num {
    margin: 0 5px;
    background: none;
    border: unset;
}

.picked {
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: gray;
}

.page-input {
    width: 40px;
    margin-right: 5px;
    height: 20px;
}